*.jar
*.ddlog
run/
target/
installation/init.sh
__pycache__/
*.pyc
spouse/input/articles.tsv
spouse/misc/signalmedia-1m.jsonl.gz
.ipynb_checkpoints/
spouse/misc/articles/articles_1m_half_processed.tsv
spouse/misc/articles/articles_original.tsv
spouse/misc/articles/signalmedia-1m.jsonl.gz
/webservice/runserver.cmd
/webservice/spannerlog/temp
/installation/spannerlog-1.0-SNAPSHOT.jar
